* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: hsl(233, 26%, 24%);
    --green: hsl(136, 64%, 51%);
    --cyan: hsl(192, 69%, 51%);
    --gray-dark:  hsl(233, 8%, 62%);
    --gray-medium: hsl(220, 16%, 96%);
    --gray-light: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);
}

body {
    font-size: 18px;
    font-family: "Public Sans", sans-serif; 
    overflow-x: hidden;

}

.header {
    width: 100%;
    height: 100%;
}



.nav-header {
    background:var(--white);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-header nav ul li {
    list-style: none;
    display: inline;
    margin-right: 1.5rem;
}

.nav-header nav ul li a {
    text-decoration: none;
    color:var(--gray-dark);
}

.btn {
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 3rem;
    color: var(--white);
    background: var(--green);
    border: none;
    background-image: linear-gradient(to right, var(--cyan), var(--green));
    cursor: pointer;

}

.menu-icon {
    display: none;
}

.header-main {
    background: var(--gray-light);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 750px -250px;
}

.header-main-left,.header-main-right {
    flex: 1;
}

.header-main-right {
    display: flex;
    justify-content: flex-end;
}

.header-main-right img {
    width: 100%;
    object-fit: cover;
    margin-top: -20% ;
    margin-right: -15%;
   
}

.header-main-left  {
    padding-left: 8rem;
    width: 100%
}

.header-main-left h1{
    font-size: 3rem;
    font-weight: 400;
    width: 60%;
   
    color: var(--blue);
}

.header-main-left p {
    color: var(--gray-dark);
    text-align: left;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
}

.about {
    background: var(--gray-medium);
    margin-top: -7%;
    height: 100%;
    
    
}

.about-head {
    padding-left: 8rem;
    padding-top: 5rem;
    
}
.about-head h2 {
    color: var(--blue);   
    margin-top: rem;
    font-weight: 400;
    
}

.about-head p {
    color: var(--gray-dark);
    width: 50%;
    margin-top: 1.5rem;
    text-align: left;
}

.about-wrapper {
    display: flex;
    margin-left: 8rem;
    margin-top: 5rem;
    width: 90%;
    padding-bottom: 5rem;
    justify-content: center;
    
}

.about-content h3 {
    color: var(--blue); 
    font-weight: 400;
    margin-bottom: 2rem;
}

.about-content img {
    margin-bottom: 2rem;
}

.about-content p { 
    color: var(--gray-dark);
    text-align: left;
    width: 80%;
}

.article {
    padding: 5rem 8rem;
    background: var(--white);
}

.article-head h2 {
    color: var(--blue);
    font-weight: 400;
    margin-bottom: 3rem;

}

.article-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 2rem 0;
}
.article-content {
    flex: 1;
    padding: 2rem 0;
    background-color: var(--white);
}
.article-content img {
    width: 100%;
    margin-bottom: 1.5rem;
   
}

.article-content .name {
    color: var(--gray-dark);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.article-content h3 {
    color: var(--blue);
    margin-bottom: 1rem;
    font-weight: 600;
}

.desc{
    color: var(--gray-dark);
    font-size: 0.9rem;
    line-height: 1.5rem;
}



.footer{
    background: var(--blue);
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left, .footer-right {
    flex: 1;

}

.footer-left{
    display: flex;
    justify-content: space-between;
}

.footer-logo-icons-ul { 
    margin-bottom: 2rem;
    
}
.footer-logo-icons ul li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

.footer-left-link, .footer-right-link {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-left-link li, .footer-right-link li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.footer-left-link li a{
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.footer-left-link li a:hover {
    color:var(--white)
}

.footer-right-link li a:hover {
    color:var(--white)
}



@media (max-width:600px) {

    body {
        position: relative;
    }

   .menu-icon {
        display: block;
    }

    .nav-header {
        padding: 1rem 2rem;
    }

    .nav-header button {
        display: none;
        
    }

    .nav-header nav ul {
        background: var(--white);
        width: 80%;
        margin: 1rem auto;
        padding: 2.5rem;
        border-radius: 0.5rem;
    }

    .nav-header nav ul li{
        display: block;
        margin-bottom: 1rem;
        text-align: center;
    }
    

    .nav-header nav {
        display: none;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(
            to bottom,
            hsla(233, 26%, 24%, 0.5),
            hsla(0,0%,98%,0.5)  
            );
    }

    .nav-header nav ul li a {
        color: var(--blue);
        font-weight: 400;
    }

    .header-main {
        flex-direction: column-reverse;
        padding: 0 2rem;
        background-image: url(./images/bg-intro-mobile.svg);
        background-position: 0 -100px;
        
    }

    .header-main-right img {
        margin-right: 0;
        margin-top: -20%;
        width: 100%;
        
    }
    .header-main-left  {
        padding-bottom: 2rem;
        text-align: center;
    }

    .header-main-left h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        width: 70%;
        text-align: center;
        margin-left: 5rem;
    }

    .header-main-left p {
        width: 100%;
    }

    .header-main-left {
        padding: 0;
        text-align: center;
    }

    .header-main-left button {
        margin-bottom: 3rem;
    }

    .about {
        width: 100%;
        padding: 0 1rem;
        text-align: center;
        height: 100%;
        margin-left: -3rem;
    }

    .about-head h2 {
        width: 50px;
        padding: 1rem;
    }

    .about-head p {
        text-align: center;
        width: 90%;
    }

    .about p {
        text-align: left;
        width: 120%;
        padding-right: -2rem;
        margin-left: -3rem;
        margin-right: 2rem;
        margin-bottom: -2rem;
        
    }

    .about h2 {
        width: 90%;
        text-align: center;
        padding-right: 1rem;
        margin-top: 2rem;
    }

    .about-content {
        width: 75%;
       
    }

    .about-content p {
        margin-bottom: 2rem;
        text-align: center;
    }

    .about-wrapper {
        flex-direction: column;
    }

    .article {
        padding: 2rem;
    }

    .article-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .footer {
        padding: 2rem;
        flex-direction: column;
        text-align: center;
    }

    .footer-left {
        flex-direction: column;
        margin-top: 1rem;
    }

    .footer-logo-icons {
        margin: 1rem 0;
    
    }

    .footer-right {
        align-items: center;
    }

    .footer-left-link:hover {
        color:var(--white)
    }
}